* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
:root {
    --main-display-none: none;
}
a{
    text-decoration: none;
}
.nav_link{
    color: #22384f;
    transition: .3s;
}
.nav_link:hover{
    color: #366290;
}
.nav_link:active{
    color: #29517b;
}
body {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    background-color: #ffffff;
}
/*------------------*/

.dark_area{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.your_bag{
    display: none;
    box-sizing: border-box;
    padding: 18px 24px 52px 18px;
    align-self: flex-end;
    flex-flow: column;
    justify-content: space-between;
    position: fixed;
    height: 100vh;
    width: 446px;
    background-color: #f1f5f8;
    overflow-y: auto;
    z-index: 3;
}
.your_bag_block{
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}
.fa-xmark{
    margin-top: 15px;
    cursor: pointer;
    color: #506886;
    align-self: flex-start;
}
.your_bag_name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2.25rem;
    margin-top: 50px;
}

.your_bag_name > p,
.your_bag_total{
    font-family: "Behrens KursivC", Roboto, sans-serif;
    color: #122a43;
}
.bag_container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
}
.bag_card{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    height: 58px;
//background-color: #878787;
    margin-top: 36px;

}
.bag_card_img_text{
    display: flex;
    flex-direction: row;
}
.bag_card_img{
    height: 100%;
    width: 86px;
    margin-right: 28px;
    object-fit: cover;
    border-radius: 8px;
}

.bag_card_text{

}
.bag_card_name{
    margin-top: -10px;
    color: #122a43;
    font-size: 1.125rem;
    letter-spacing: .125rem;
}
.bag_card_price{
    color: #3c566f;
    font-size: .875rem;
}
.bag_card_remove{
    margin-top: 5px;
    color: #506886;
    letter-spacing: .125rem;
    cursor: pointer;
    transition: .3s;
}
.bag_card_remove:hover{
    color: #13335a;
}
.bag_card_remove:active{
    color: #2c64a7;
}
.quantity-block > label{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fa-angle-up, .fa-angle-down{
    cursor: pointer;
    color: #b54e19;
    font-size: 20px;
    transition: .3s;
}
.fa-angle-up{
    margin-top: -5px;
}
.fa-angle-up:hover, .fa-angle-down:hover{
    color: #682903;
}
.fa-angle-up:active, .fa-angle-down:active{
    color: #ff6800;
}
.quantity-num {
    box-sizing: border-box;
    outline: none;
    border: none;
    width: 30px;
    padding-left: initial;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #3c566f;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: transparent;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}


.checkout{
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 308px;
    height: 37px;
    background-color: #ba5d2c;
    color: #fdfdfc;
    cursor: pointer;
    transition: .3s;
    border-radius: 5px;
}
.checkout:hover{
    background-color: #8e3202;
}
.checkout:active{
    background-color: #c64801;
}


/*------------------*/
section {
    box-sizing: border-box;
    //padding-left: 1.125rem;
    padding-left: 18px;
    padding-right: 18px;
    width: 1335px;
    //background-color: #619e0e;
}
section[class = 'path']{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: #f1f5f8;
    width: 100%;
    padding: 0;
}
.nav_path {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    height: 205px;
    width: 1335px;
}
.nav_path >p{
    color: #5d7995;
}
header {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 106px;
    //background-color: #fe9900;
}
.header_logo{
    margin-left: -30%;
    height: 60%;

}
.header_logo_curr{
    height: 100%;
    cursor: pointer;
}
.shopping_basket{
    margin-right: 1rem;
}
nav > a {
    font-size: 1.5rem;
    margin-right: 58px;
    cursor: pointer;
    color: #0a233d;
}


.fas{
    font-size: 1.5rem;
    cursor: pointer;
}

.fas[data-count]{
    position:relative;
}
.fas[data-count]:after{
    display: var(--main-display-none);
    position: absolute;
    right: -0.75em;
    top: -.75em;
    content: attr(data-count);
    padding: .2em;
    border-radius: 10em;
    line-height: .9em;
    color: white;
    //background: rgba(255,0,0,.85);
    background: rgb(229, 89, 16);
    text-align: center;
    min-width: 1.5em;
    font: bold .4em sans-serif;
}




.main_block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 70px;
}

aside {
    width: 184px;
    //background-color: palevioletred;
}

.search_element{
    box-sizing: border-box;
    height: 40px;
    background-color: #f1f5f8;

    border: none;
    width: 100%;
    border-radius: 4px;
    padding-left: 12px;
}
.price_filter{
    height: 40px;
    width: 80%;
    cursor: pointer;
}
.aside_name{
    margin-top: 20px;
    font-weight: bold;
    color: #22384f;
}
.filter_item{
    margin-top: 12px;
    margin-left: 1rem;
    list-style: none;
    color: #95a7ba;
    cursor: pointer;
    transition: .3s;
}
.aside_filter > li:hover{
    color: #2c6bac;
}
.aside_filter > li:active{
    color: #2d92f8;
}
.aside_filter_value, .filter_value{
    color: #95a7ba;
    font-weight: bold;
}
.filter_item_current{
    color: #25224f;
}
main {
    display: flex;
    flex-flow: row wrap;
    width: 1080px;
}
.card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 342px;
    height: 247px;
 margin-left: 18px;
    margin-bottom: 18px;
    cursor: pointer;
    transition: .3s;
}
.card:hover {
    box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.15);
}

.img_card{
    width: 100%;
    height: 180px;
}
.img_card_curr {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.313rem;
}
.name_card{
    margin-top: 14px;
    color: #95a7ba;
}
.price_card{
    font-weight: bold;
    color: #294560;
}

/*about*/
.container_main_about{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}
.main_about{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 800px;
}
.main_about h1{
    font-size: 48px;
    color: #112942;
}
.main_about p{
    margin-top: 30px;
    line-height: 36px;
    font-size: 18px;
    color: #617d98;
}
.main_about span{
    color: #b54e19;
}



/*Home--------------*/
.section_home, .section_home:after{
//height: 50vw;
    height: 100vh;
    width: 100%;
}
.section_home{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-image: url("img/photo.jpg");
    background-color: black;
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 18px;
}
.section_home:after {
    content: '';
    position: absolute;
    background: rgba(0,0,0,.5);
    z-index: 1;
}
.section_header{
    width: 1335px;
    color: #fdfdfc;
    z-index: 2;
}
.section_header a{
    color: #fdfdfc;
}
.section_under_header{
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    //height: 100%;
    flex-grow: 1;
    //background-color: #fe9900;
}
.section_under_header h1{
    font-size: 110px;
    font-family: "Behrens KursivC", Roboto, sans-serif;
}
.section_under_header >p{
    font-size: 50px;
}

.button_show_now{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 42px;
    background-color: transparent;
    border: 1px solid #fdfdfc;
    border-radius: 5px;
    color: #fdfdfc;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
    margin-top: 30px;
}
.button_show_now:hover{
    background-color: rgba(255,255,255,.4);
    color: #fdfdfc;
    border: 1px solid #fdfdfc;
}
.button_show_now:active{
    background-color: rgba(255,255,255,.7);
}

/*----------------------*/
.short_content_block{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 80px;
    //height: 500px;
    width: 100%;
    //background-color: #619e0e;
}
.short_content_block > p{
    font-size: 48px;
    color: #112942;
}
.short_content_block span{
    color: #b54e19;
}
.short_content{
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
}
.all_products{
    margin-bottom: 100px;
    width: 200px;
}
.all_products > p{
    font-size: 18px;
    letter-spacing: 2px;
}

