* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.head_country, .body_countries {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    padding-left: 70px;
    width: 1310px;
}

.head_country {
    justify-content: space-between;
    align-items: baseline;
    height: 26px;
    margin-top: 100px;
    margin-bottom: 35px;
    padding-right: 70px;
    font-weight: bold;
}

.head_country > p {
    font-size: 22px;
}

.head_country > .dark_mode_button {
    font-size: 18px;
    cursor: pointer;
}

.head_country > .dark_mode_button:hover {
    font-size: 18px;
    cursor: pointer;
    opacity: .7;
    transition: .3s;
}

.body_countries {
    background-color: #bed2ea;
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1170px;
    height: 46px;
    margin-top: 45px;
    margin-bottom: 10px;
}

.search_input ~ i {
    margin-left: -400px;
    transition: 0.5s;
}

.search_input {
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    outline: 0;
    height: 100%;
    width: 435px;
    padding-left: 60px;
    font-size: 14px;
}

.search_input:focus + i {
    opacity: .5;
}

select {
    box-sizing: border-box;
    font-size: 14px;
    height: 100%;
    width: 180px;
    padding-left: 24px;
    outline: 0;
    border: none;
    border-radius: 5px;
    appearance: none;
    background-image: url(img/black.svg);
    background-repeat: no-repeat, repeat;
    background-position: right 20px top 50%, 0 0;
    background-size: .8em auto, 100%;
}

input::placeholder {
    color: black;
}

select option {
    font-size: 16px;
}

.fa-chevron-down {
    position: absolute;
    margin-left: 150px;
    margin-top: 15px;
    color: #7700ff;

}

.search_input, select {
    box-shadow: 2px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.whiteShadow {
    box-shadow: 2px 1px 3px 1px rgba(0, 163, 255, 0.3);
}

.whitePlaceholder::placeholder {
    color: white;
}


/*TODO*/
.container_lists {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.container_country {
    display: flex;
    flex-flow: column wrap;
    margin-right: 70px;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 240px;
    height: 305px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

.containerWhiteShadow {
    box-shadow: 2px 3px 5px 1px rgba(0, 163, 255, 0.3);
}

.flag {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 155px;
    box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.3);
}

.img_flag {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container_country p {
    margin-left: 23px;
}

.population_country, .region_country, .capital_country {
    font-size: 14px;
}

.bold_country_text {
    font-weight: bold;
}

.name_country_block {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 60px;
    margin-top: 10px;
}

.name_country {
    font-weight: bold;
    font-size: 18px;
}
